<mat-toolbar color="primary" class="nav">
    <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="mat-button" (click)="drawer.toggle()">
            <span class="mat-button-wrapper">
                <img class="logo" src="/assets/logo.svg">
            </span>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="layout" autosize>
    <mat-drawer #drawer class="menu" mode="side" opened="true">
        <app-nav></app-nav>
    </mat-drawer>
    <mat-drawer-content>
        <main>

        </main>
    </mat-drawer-content>
</mat-drawer-container>