@import '../node_modules/@angular/material/_theming.scss';

@include mat-core();

$mat-block-one-primary: (
    50 : #eaeaea,
    100 : #cbcbcb,
    200 : #a9a9a9,
    300 : #868686,
    400 : #6c6c6c,
    500 : #525252,
    600 : #4b4b4b,
    700 : #414141,
    800 : #383838,
    900 : #282828,
    A100 : #a3d48e,
    A200 : #74d04b,
    A400 : #60c732,
    A700 : #3eae0d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff
    )
);

$mat-block-one-secondary: (
    50 : #eafbe2,
    100 : #cbf4b6,
    200 : #a9ed85,
    300 : #86e654,
    400 : #6ce030,
    500 : #28c403,
    600 : #28c403,
    700 : #28c403,
    800 : #28c403,
    900 : #28c403,
    A100 : #efffec,
    A200 : #c3ffb9,
    A400 : #97ff86,
    A700 : #81ff6d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff
    )
);

$mat-block-one-warn: (
    50 : #f6e1e1,
    100 : #e9b5b5,
    200 : #db8484,
    300 : #cc5252,
    400 : #c12d2d,
    500 : #b60808,
    600 : #af0707,
    700 : #a60606,
    800 : #9e0404,
    900 : #8e0202,
    A100 : #ffbaba,
    A200 : #ff8787,
    A400 : #ff5454,
    A700 : #ff3b3b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$block-one-app-primary: mat-palette($mat-block-one-primary);
$block-one-app-accent: mat-palette($mat-block-one-secondary);
$block-one-app-warn: mat-palette($mat-block-one-warn);
$block-one-app-theme: mat-light-theme($block-one-app-primary, $block-one-app-accent, $block-one-app-warn);

@include angular-material-theme($block-one-app-theme);

html, body {
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    margin: 0;
    height: 100%;
}
